.status-page{
    min-height:100vh;
    background:#eef4ff;
    padding:40px;
}

.status-container{
    max-width:1300px;
    margin:auto;
}

.status-container h1{
    color:#163a72;
    margin-bottom:8px;
    font-size:38px;
}

.status-container p{
    color:#555;
    margin-bottom:30px;
}

.search-box{
    background:#fff;
    border-radius:14px;
    padding:25px;
    box-shadow:0 5px 18px rgba(0,0,0,.08);
    margin-bottom:30px;
}

.search-box h3{
    color:#163a72;
    margin-bottom:20px;
}

.search-row{
    display:flex;
    gap:15px;
}

.search-row input{
    flex:1;
    padding:14px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

.search-row button{
    background:#1f5fd3;
    color:white;
    border:none;
    padding:14px 35px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.search-row button:hover{
    background:#174db1;
}

.table-card{
    background:white;
    border-radius:14px;
    padding:25px;
    box-shadow:0 5px 18px rgba(0,0,0,.08);
}

.table-card table{
    width:100%;
    border-collapse:collapse;
}

.table-card thead{
    background:#1f5fd3;
    color:white;
}

.table-card th{
    padding:16px;
}

.table-card td{
    padding:16px;
    text-align:center;
    border-bottom:1px solid #e5e5e5;
}

.table-card tr:hover{
    background:#f5f9ff;
}

.table-card select{
    padding:8px 12px;
    border-radius:6px;
    border:1px solid #ccc;
    margin-right:10px;
}

.update-btn{
    background:#28a745;
    color:white;
    border:none;
    padding:8px 18px;
    border-radius:6px;
    cursor:pointer;
    font-weight:600;
}

.update-btn:hover{
    background:#218838;
}

@media(max-width:900px){

.search-row{
    flex-direction:column;
}

.table-card{
    overflow:auto;
}

table{
    min-width:850px;
}

}